## standard config: https://github.com/stylelint/stylelint-config-standard/blob/master/index.js
## https://github.com/stylelint-scss/stylelint-config-standard-scss/blob/HEAD/index.js

{
  'extends': ['stylelint-config-standard', 'stylelint-config-standard-scss', 'stylelint-config-prettier'],
  'plugins': ['stylelint-scss'],
  'rules':
    {
      'selector-class-pattern': '[a-z0-9-]+(_{2}?[a-z0-9-]+)?',
      'indentation': 2,
      'max-nesting-depth': 3,
      'string-quotes': 'single',
      'at-rule-no-unknown': null,
      'scss/at-rule-no-unknown': true,
      'scss/at-function-pattern':
        ['^(-?[a-z][a-z0-9]*)(-[a-z0-9]+)*$', { message: 'Expected function name to be kebab-case' }],
      'scss/at-mixin-pattern':
        ['^(-?[a-z][a-z0-9]*)(-[a-z0-9]+)*$', { message: 'Expected mixin name to be kebab-case' }],
      'number-leading-zero': 'always',
      'function-name-case': 'lower',
      'unit-allowed-list': ['em', 'rem', 's', '%', 'px', 'vw', 'vh', 'ms', 'deg'],
      'property-no-vendor-prefix': true
    }
}
